{{ include('/partials/header.twig') }}

<div class="header">
    <div class="header-left"></div>
    <div class="header-right">
        <div class="right-container">
            <div class="right-logo">
                <h1><img src="{{ global.request.basepath }}/dist/img/logo.png" alt="logo gad elmaleh"></h1>
            </div>
            <div class="right-adj">
                <div>#humoriste</div>
                <div>#acteur</div>
                <div>#réalisateur</div>
            </div>
            <h3>Alors que Gad Elmaleh est sans doute le comédien le plus connu et le plus aimé d'Europe, il s'est engagé dans le tout dernier chapitre de sa carrière: se transmettre au public américain.</h3>
        </div>
    </div>
    <section>
        <form class="form-year" action="#" method="get">
            <div class="select-style">
                <select name="formYear" required>
                    <option disabled selected>Choose a year</option>
                    <option>1999</option>
                    <option>2000</option>
                    <option>2001</option>
                    <option>2002</option>
                </select>
            </div>
            <input type="submit" value="Envoyer">
        </form>
    </section>
</div>
<section>
    <article>
        <div class="title">
            <h3>Derniers films</h3>
            <p>TOUT VOIR</p>
        </div>
        <div class="img-box">
            <div>
                <img src="{{ global.request.basepath }}/dist/img/film1.jpg" alt="poster">
            </div>
        </div>
    </article>
</section>

{{ include('/partials/footer.twig') }}
