.content-informations
{
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media #{$mobile} { height: 85vh;}

    section
    {
        display: flex;
        flex-direction: row;

        @media #{$mobile} { flex-direction: column;}

        .informations-img
        {
            width: 50%;
            @media #{$mobile} { width: 100%;}

            .img-box
            {
                text-align: center;
                height: 350px;

                img
                {
                    width: auto;
                    height: 100%;
                }
            }
        }
        .informations-text
        {
            width: 50%;

            h1
            {
                font-weight: 900;
                font-size: 22px;
                padding: 1em 0;
            }
        }
    }
}
