.first-section
{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;

    .header-left, .header-right
    {
        width: 50%;
        height: 90vh;
    }
    .header-left
    {
        background-image: url(../img/gad_bg.png);
        background-size: cover;
        background-position: 50% 0;

        @media #{$mobile, $tablet-portrait} { display: none; }
        @media #{$tablet-landscape} { display: block; }
    }

    .header-right
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        @media #{$mobile, $tablet-portrait}
        {
            width: 100%;
            background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url(../img/gad_bg.png);
            background-size: cover;
            background-position: center;
        }

        .right-container
        {
            width: 70%;
            display: flex;
            flex-direction: column;
            height: 80%;
            justify-content: space-between;

            @media #{$mobile}
            {
                width: 95%;
                height: 70%;
            }

            .right-adj
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 50%;
                
                @media #{$mobile} { width: 50%; }
                @media #{$tablet-portrait} { width: 35%; }

                div
                {
                    color: $second-color;
                    font-style: italic;
                    font-size: 10px;

                    @media #{$large} { font-size: 22px; }
                }
            }

            .form-year
            {
                width: 100%;
                font-weight: 600;
                display: flex;
                flex-direction: row;
                justify-content: center;

                label
                {
                    display: none;
                }

                .select-style
                {
                    height: 35px;
                    border: 2px solid $main-color;
                    border-radius: 15px;
                    width: 50%;
                    overflow: hidden;
                    background: rgba(255,255,255,0.5) url("../img/down-arrow.svg") no-repeat 90% 50%;
                    background-size: 10px;
                    color: $main-color;
                    display: flex;
                    align-items: center;

                    @media #{$large} { height: 45px; }
                }

                .select-style select
                {
                    width: 100%;
                    padding: 0 10px;
                    -webkit-appearance: none;
                }

                .select-style select:focus { outline: none; }

                button
                {
                    background-color: $main-color;
                    width: 30%;
                    height: 35px;
                    color: white;
                    border-radius: 15px;
                    margin: 0 20px;

                    @media #{$large} { height: 45px; }
                }
            }

        }
    }
}
