header
{
    width: 100%;
    height: 10vh;
    min-height: 50px;
    background-color: $bg-color;
    box-shadow: 0px 2px 6px 0px #DDDDDD;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    nav
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo
        {
            width: 10rem;

            @media #{$large} { width: 14rem; }
        }

        ul
        {
            display: flex;
            justify-content: space-between;
            width: 35%;

            @media #{$mobile} { display: none; }
            @media #{$tablet-portrait} { display: none; }
            @media #{$tablet-landscape}
            {
                display: flex;
                width: 45%;
            }
            @media #{$large} { width: 40%; }
        }
        .bars-container
        {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            display: none;

            @media #{$mobile} { display: flex; }
            @media #{$tablet-portrait} { display: flex; }
            @media #{$tablet-landscape} { display: none; }

            &:hover
            {
                cursor: pointer;

                .bars, .bars::before, .bars::after { background-color: $main-color; }
                .bars::before, .bars::after
                {
                    transform: scaleX(1);
                    transition: transform ease-in 0.1s;
                    will-change: transform;
                }
            }

            .bars
            {
                width: 24px;
                height: 3px;
                border-radius: 3px;
                background-color: $third-color;
                position: relative;

                &::before, &::after
                {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background-color: $third-color;
                    transform-origin: top right;
                }
                &::before
                {
                    bottom: -200%;
                    transform: scaleX(0.6);
                }
                &::after
                {
                    bottom: 200%;
                    transform: scaleX(0.8);
                }
            }
        }
    }
}
.nav-link
{
    font-weight: 900;
    font-size: 14px;

    @media #{$mobile} { font-size: 16px; }
    @media #{$large} { font-size: 22px; }
    a
    {
        position: relative;
        display: inline;

        &::after
        {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $main-color;
            transform: scaleX(0);
            will-change: transform;
        }
        &:hover
        {
            color: $main-color;

            &::after
            {
                transform: scaleX(1);
                transform-origin: top left;
                transition: transform linear 0.2s;
            }
        }
    }
}
.burger-menu
{
    width: 100%;
    height: 50vh;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $third-color;
    opacity: 0.98;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    will-change: transform;
    transform: translateY(-100%);
    transition: transform ease-in 0.3s;

    &.animation-burger-menu
    {
        transform: translateY(0%);
        transition: transform ease-in 0.3s;
    }

    .bars-container
    {
        height: 24px;
        width: 24px;
        cursor: pointer;

        &:hover .bars
        {
            transform: rotate(45deg);
            transition: transform ease-in 0.2s;
        }
        &:hover .bars::after
        {
            transform: rotate(90deg);
            bottom: 0;
        }

        .bars, .bars::after
        {
            width: 100%;
            height: 3px;
            border-radius: 3px;
            background-color: white;
            position: relative;
            transform-origin: center;
        }
        .bars
        {
            transform: rotate(90deg);
        }
        .bars::after
        {
            content: "";
            position: absolute;
            left: 0%;
            bottom: 300%;
        }
    }
    nav
    {
        width : 80%;
        height : 80%;

        ul
        {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
}

footer
{
    width: 100%;
    background-color: $main-color;
    color: white;

    .footer
    {
        display: flex;
        align-items: center;
        height: 110px;

        ul
        {
            width: calc(100% / 4);

            li { text-align: center; }

            li:first-child
            {
                font-size: 44px;
                font-weight: 600;
                padding: 10px 0;

                @media #{$mobile} { font-size: 34px; }
                @media #{$large}
                {
                    font-size: 82px;
                    line-height: normal;
                }
            }
            li:last-child
            {
                font-size: 18px;
                font-weight: 100;

                @media #{$mobile} { font-size: 10px; }
                @media #{$large} { font-size: 28px; }
            }
        }
    }
}
