// COLORS

$main-color : #3CD2F9; // blue
$second-color : #8F8F8F; // light grey
$third-color : #1C1C1B; // dark grey
$dark-color : #000000; // black
$bg-color : #FFFFFF; // white
$section-color : #F1F1F1; // lighter grey

// MEDIA QUERIES
$mobile: "(max-width: 768px)";
$tablet: "(min-width: 769px) and (max-width: 1024px)";
$desktop: "(min-width: 1025px) and (max-width: 1440px)";
$large: "(min-width: 1440px)";
