// COLORS

$main-color : #3CD2F9; // blue
$second-color : #8F8F8F; // light grey
$third-color : #1C1C1B; // dark grey
$dark-color : #000000; // black
$bg-color : #FFFFFF; // white
$section-color : #F1F1F1; // lighter grey

// MEDIA QUERIES
$mobile: "(max-width: 599px)";
$tablet-portrait: "(min-width: 600px) and (max-width: 899px)";
$tablet-landscape: "(min-width: 900px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px) and (max-width: 1799)";
$large: "(min-width: 1800px)";
