            <footer>
                <div class="footer container-box">
                    <ul>
                        <li>32</li>
                        <li>films</li>
                    </ul>
                    <ul>
                        <li>7</li>
                        <li>spectacles</li>
                    </ul>
                    <ul>
                        <li>2</li>
                        <li>doublages</li>
                    </ul>
                    <ul>
                        <li>6</li>
                        <li>courts-métrages</li>
                    </ul>
                </div>
            </footer>

        </div>
    </body>
    <script src="{{ global.request.basepath }}/dist/js/script.min.js"></script>
</html>
